<div id="sql">
  <h3>DB Browser for SQLite</h3>

  <p>
    SQL is a specialized programming language used with databases.
    We will use the program <a href="https://sqlitebrowser.org/">DB Browser for SQLite</a> to work with the SQLite flavour of SQL in our lesson.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#sql-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#sql-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#sql-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
      <!--<li role="presentation"><a data-os="web" href="#sql-web" aria-controls="Web" role="tab" data-toggle="tab">Web</a></li>-->
    </ul>
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="sql-windows">
        <ul>
          <li>Download and install DB Browser for SQLite (Standard installer for 64-bit Windows) from
            <a href="https://sqlitebrowser.org/dl/">sqlitebrowser.org/dl/</a>.
          </li>
          <li>
            Run the installer. On the Shortcuts page, you might want to tick the "Desktop" and/or "Program Menu" checkboxes for "DB Browser (SQLite)". Otherwise, just go with the defaults.
          </li>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-macos">
        <ul>
          <li>
            Download and install DB Browser for SQLite for macOS from
            <a href="https://sqlitebrowser.org/dl/">sqlitebrowser.org/dl/</a>
          </li>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-linux">
        <ul>
          <li>See installation instructions for various distributions at
          <a href="https://sqlitebrowser.org/dl/">sqlitebrowser.org/dl/</a>.</li>
        </ul>
      </article>
      <!--<article role="tabpanel" class="tab-pane" id="sql-web">
        <ul>
          <li>In case of problems: register for an account at <a href="https://www.pythonanywhere.com/">https://www.pythonanywhere.com</a></li>
          <li>Download <a href="http://swcarpentry.github.io/sql-novice-survey/files/survey.db">survey.db</a></li>
          <li>Click on files and upload survey.db</li>
          <li>Click on dashboard and Choose new console <code>bash</code></li>
        </ul>
      </article>-->
    </div>
  </div>

</div>
